.outer{
    margin: -22px -15px;
}
.image{
    background-image: url(../../assets/404-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-position: -170px 100%;
    height: calc(100vh - 68px);
    position: relative;
    @media(min-width: 768px){
        background-position: unset;
    }
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.35);
    }
    .content{
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 2;
        color: #fff;
        h1{
            font-size: 7.5rem;
        }
    }
}