<h3 class="text-primary">Cart</h3>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div formArrayName="cartForm">
    <div class="cart-item" *ngFor="let item of getEntries(); let i=index;">
      <!-- {{item[1]['name']}}{{item[1]['quantity']}} -->
      <div class="d-flex justify-content-between">
        <div>
          {{ item[1]["name"] }} <span class="font-weight-bolder">x</span> {{item[1]["quantity"]}}
        </div>
        <span>{{item[1]["quantity"]}}*{{item[1]["price"]}} =
          {{item[1]["quantity"] * item[1]["price"]}}</span>
      </div>
      <div class="d-flex align-items-center mt-2">
        <span
          class="rounded btn btn-primary btn-group btn-sm d-flex align-items-center justify-content-center rounded-small"
          (click)="decrement(item[0], i)"><i class="material-icons">remove</i></span>
        <input class="form-control" [formControlName]="i" type="number" (change)="changeInput(item[0], $event)"
          style="max-width: 80px; margin: 0px 10px;">
        <span
          class="rounded btn btn-primary btn-group btn-sm d-flex align-items-center justify-content-center rounded-small"
          (click)="increment(item[0], i)"><i class="material-icons">add</i></span>
      </div>
    </div>
  </div>
  <div *ngIf="items.size > 0">
    <div class="row">
      <div class="col-sm-8 col-lg-6 col-xl-4">
        <h3 class="text-primary mt-3">Shipping details</h3>
        <div formGroupName="shippingDetailsForm" >
          <div class="form-group">
            <label for="name">
              Name
            </label>
            <input type="text" formControlName="name" class="form-control" placeholder="Enter email" id="name">
            <div class="mt-2" *ngIf="submitted && name.invalid ">
              <div class="text-danger" *ngIf="name.errors.required">
                Name is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="address">
              Address
            </label>
            <input class="form-control" placeholder="Enter address" id="address" type="text" formControlName="address">
            <div class="mt-2" *ngIf="submitted && address.invalid ">
              <div class="text-danger" *ngIf="address.errors.required">
                Address is required.
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="shipping">
            <div class="mb-1">Shipping method </div>
            <h5 class="text-primary d-inline-block mb-0">{{shipping.type}} - {{shipping.price | currency}}</h5>
            <a class="text-reset"
              routerLink="/shipping">(Change)</a>
            
          </div>
          <div class="form-group" *ngIf="!shipping">
            <a routerLink="/shipping">Select shipping method</a>
            <div class="text-danger" *ngIf="!shippingValue">
              Not selected
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Purchase</button>
        </div>
      </div>
    </div>
  </div>
</form>
<h5 *ngIf="!items.size > 0">Your cart is empty, Please add products to cart.</h5>