$primary: #009681;
// $primary-light: #009681;
$primary-shadow-color: rgb(0, 150, 129,0.5);

@import './node_modules/bootstrap/scss/bootstrap';


/* Global Styles */
* {
    font-family: 'Roboto', Arial, sans-serif; }

// router-outlet + * {
//   padding: 0 16px; }
.layout{
  padding: 22px 0px;
}
p {
  font-size: 14px; }

/* Hyperlink */
a {
  cursor: pointer;
  color: $primary;
  text-decoration: none; }

a:hover {
  opacity: 0.8; }

/* Fancy Button */
.fancy-button {
  background-color: white;
  color: $primary; }

.fancy-button i.material-icons {
  color: $primary;
}

/* Top Bar */
app-top-bar {
  width: 100%;
  background-color: $primary;
  padding: 2px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  flex-wrap: wrap;
}

app-top-bar h1 {
  color: white;
  margin: 8px 0px; }

/* Checkout Cart, Shipping Prices */
.cart-item, .shipping-item {
  width: 100%;
  max-width: 450px;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #EEEEEE; }

.fancy-radio{
  input[type="radio"] {
    display: none;
    &:not(:disabled) + label{
      cursor: pointer;
      .checkmark{
        width: 60px;
        text-align: center;
        border-radius: 16px 0px 0px 16px;
        background: gray;
        .material-icons{
          font-size: 30px;
          font-weight: bold;
          display: none;
        }
      }
    }
  }
  label {
    display: block;
    background: white;
    border: 2px solid gray;
    border-radius: 20px;
    margin-bottom: 0.5rem;
    //margin: 1rem;
    text-align: center;
    position: relative;
  }
  input[type="radio"]:checked + label {
    border: 2px solid $primary;
    .checkmark{
      .material-icons{
        display: inline-block;
      }
      color: white;
      width: 60px;
      border-radius: 16px 0px 0px 16px;
      background: $primary;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.rounded-small{
  width: 30px; 
  height: 30px;
  border-radius: 2rem !important;
}
.alert{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .close{
    margin-left: 10px;
    @media(min-width: 768px){
      margin-left: 20px;
    }
  }
}



/* Table Styles */
.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}